.container{
   width: 20%;
   background-color: #ddd;
  margin-left: 35%;
  margin-top: 10%;

}
.form{
    text-align: center;
}
#resultado{
    width: 94%;
    height: 20%;
    background-color: #ccc;
}